@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', "bold";
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body{
      background: linear-gradient(-45deg, #000000, #3d3d3d, #868686, #bdbdbd);
      background-size: 400% 400%;
      animation: gradient 12s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

h1 {
    text-align: center;
    margin: 0;
}

.welshgame {
    width: 960px;
    height: 565px;
    display: block;
    border: hidden;
    margin: 0 auto;
}

.github { 
    text-align: center;
    font-size: 28px;
    display: flex;
    bottom: 0%;
    position: absolute;
    bottom: 0;
}

.learn_cymraeg { 
    text-align: center;
    font-size: 28px;
    display: flex;
    bottom: 0%;
    position: absolute;
    bottom: 0;
    right: 7px;
}