*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black
}

h1{
    text-align: center;
    color: white;
}

p {
    color: white;
}

div {
    text-align: center;
  }

.iframe{
    border: none;
    overflow: hidden;
}

a.a1{
    position: absolute;
    bottom: 0;
    left: 7px;
    color: white;
    font-size: 28px;
}

a.a1:link {
    color: white;
}

a.a2{
    position: absolute;
    bottom: 0;
    right: 7px;
    color: white;
    font-size: 28px;
}

a.a2:link {
    color: white;
  }

button.Light-Switch{
    background-color: transparent;
    text-decoration:underline;
    margin-top: -98px;
    border: none;
    outline: none;
    position: absolute;
    right: 7px;
    color: white;
    font-size: 28px;
}